* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
}

.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
  background-color: rgb(63, 102, 115);  
  color: #f5ebeb;
  text-align: left;
  padding: 1em;
  text-shadow: 2px 2px 5px #000000;
}

.logo {
  height: 3rem;
  display: flex;
  gap: 1em;
}

.logo h2 {
    margin: 0;
    align-self: center;
}

ul {
  padding: 0;
}

.links img {
  height: 2rem;
  padding-top: 10px;
}

.links li{
  justify-content: left;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

/* Main section */

.main-section {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr;
}

.header {
  display: grid;
  padding: 10px;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 3fr 1fr;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-right: 2rem;
}

.search-bar .search-input {
  flex: 1;
  border-style: none;
  background-color: rgb(217, 217, 214);
  border-radius: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile img {
  height: 2rem;
}

.profile img:nth-child(2) {
  border-radius: 50%;
  border: 1px solid;
}

.content {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1fr;
  background-color: rgb(224, 227, 228);
  padding: 10px;
  gap: 1em;
}

.projects {
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 1em;
}

.projects h3 {
  grid-column: 1/-1;
  margin-top: 5px;
  margin-bottom: 0px;
}

.project {
  display: grid;
  background-color: #ffffff;
  text-align: left;
  padding-left: 2em;
  padding-right: 2em;
  box-shadow: 1px 1px 2px gray;
  border-radius: 1em;
  grid-template-rows: 4fr 1fr;
}

.icons {
  display: flex;
  justify-content: flex-end;
  height: 2em;
  gap: 1em;
}

.announcements {
  display: grid;
  grid-template-rows: auto 2fr;
  grid-template-columns: 1fr;
  border-radius: 5px;
}

.announces {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 2px gray;
}

.announcements h5 {
  grid-column: 1/-1;
  margin-top: 5px;
  margin-bottom: 0px;
}

.announcement {
  text-align: left;
  padding: 0.5em;
  border-bottom: 1px solid gray;
  margin: 1em;
}

.announcement:last-child {
  border: none;
}

.trends {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 2px gray;
  padding: 1rem 2em;
}


.trend {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 1rem;
}

.trend img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 1px solid;
}