* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
}

.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
  background-color: rgb(63, 102, 115);  
  color: #f5ebeb;
  text-align: left;
  padding: 1em;
  text-shadow: 2px 2px 5px #000000;
}

.logo {
  height: 3rem;
  display: flex;
  gap: 1em;
}

.logo h2 {
    margin: 0;
    align-self: center;
}

ul {
  padding: 0;
}

.links img {
  height: 2rem;
  padding-top: 10px;
}

.links li{
  justify-content: left;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

/* Main section */

.main-section {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr;
}

.header {
  padding: 10px;
}

.content {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1fr;
  background-color: rgb(224, 227, 228);
  padding: 10px;
  gap: 1em;
}

.projects {
  display: grid;
  grid-template-rows: auto 2fr 2fr 2fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 1em;
}

.projects h3 {
  grid-column: 1/-1;
  margin-top: 5px;
  margin-bottom: 0px;
}

.project {
  border: 1px solid;
  background-color: #ffffff;
  text-align: left;
  padding-left: 2em;
}